<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8"> <br>
    <title>Upload</title> 
    <br>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        </br>
</head>
<body>
<br>
<br>
<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

<br><strong>Files:</strong></br>
<br>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
    <div id="msg"></div>
<br>
    <input type="submit" value="Upload!" id="upload-button"></br>
</form>
</body>
</br>
</br>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>
</html>